@media only screen and (min-width: 768px) {
    .login-card{
        border: solid white thin;
        border-radius: 5%;
        width: 30rem;
        padding: 2rem;
        background-color: whitesmoke;
    }
}
.login-card{
    border: solid white thin;
    border-radius: 2.5%;
    padding: 2rem;
    background-color: whitesmoke;
}
.chart-img{
    width: 20rem;
    height: 20rem;
    margin-top: -20rem;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
}

.err{
    color: red;
    margin-left: 2rem;
    font-size: small;
}

.margin-top{
    margin-top: 1rem;
}

.forgot-pass{
    display: flex;
    background-color: transparent ;
    border: none  !important; 
}
.forgot-pass:hover{
    background-color: transparent;
    outline: none  !important;
    border: none  !important;
}
.forgot-pass:active{
    background-color: transparent;
    outline: none  !important;
    border: none  !important;
} 
.forgot-pass:focus{
    background-color: transparent;
    outline: none  !important;
    border: none !important;
}